body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  font-family: fontBold;
  background: rgb(63, 7, 6);
  background: linear-gradient(
    180deg,
    rgba(63, 7, 6, 1) 0%,
    rgba(18, 18, 18, 1) 40%
  );
}
img {
  object-fit: cover;
}
a:hover {
  text-decoration: none !important;
  color: unset !important;
}
a {
  text-decoration: none !important;
  transition: 0.25s;
}

/* ARROWS BAR */
.arrows-bar {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: 1rem 3rem 0 3rem !important;
  justify-content: space-between;
}
.arrows a svg {
  color: rgba(0, 0, 0, 0.726);
  transition: 0.25s !important;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.arrows a svg:hover {
  color: black;
  background-color: white;
  border: unset;
}
/* PROFILE DROPDOWN */
.profileDrop {
  background-color: black !important;
  border-radius: 25rem;
  color: white !important;
}
.profileDrop img {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  margin-right: 0.5rem !important;
}
.profileDrop span {
  margin-right: 1rem;
  padding-top: 0.1rem;
}
#dropdownLogin {
  background-color: black !important;
  border-bottom-right-radius: 20rem;
  border-top-right-radius: 20rem;
  border: unset !important;
}
.dropdown-menu {
  background-color: black !important;
}
.dropdown-item {
  color: white !important;
}
/* CONTENT Section */
.h-main {
  position: relative;
  width: calc(100% - 15rem);
}
/*  */
input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.829);
  border: 1px solid gray;
}

/* ALBUM */
.play-alb-btn {
  display: block !important;
  margin: 0 auto;
  border-radius: 2rem !important;
  padding: 0.3rem 2rem !important;
}

.album-songs {
  color: #808080;
  transition: 0.2s;
}
.album-songs:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #808080;

}

.album-songs div div a {
  display: block;
  color: #808080 !important;
  text-decoration: none !important;
}
.album-songs div div a:hover {
  color: green !important;
}
/* ARTIST */
.artist-top-bg{
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    color: white;
}