@font-face {
  font-family: fontBold;
  src: url(../font/GothamBold.ttf);
}
@font-face {
  font-family: fontLight;
  src: url(../font/GothamLight.ttf);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
img {
  object-fit: cover;
}

/* FOnt link */

.home-page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.h-clr {
  background: rgb(63, 7, 6);
  background: linear-gradient(
    180deg,
    rgba(63, 7, 6, 1) 0%,
    rgba(18, 18, 18, 1) 40%
  );
}
.a-clr {
  background: rgb(167, 59, 135);
  background: linear-gradient(
    180deg,
    rgba(167, 59, 135, 1) 0%,
    rgba(25, 25, 25, 1) 50%
  );
}
/* ----------------------------------- SIDE BAR*/
.side-bar {
  height: 85vh;
  background-color: black;
}
.h-side-bar {
  width: 15rem;
  padding: 10px;
}

.h-logo {
  padding: 1rem 0 1rem 1rem;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.fa-spotify {
  font-size: 40px;
  margin-right: 5px;
}
.h-logo h4 {
  padding-top: 0.8rem;
  color: white;
}
/* Sidebar Links */
.side-tracks {
  font-family: fontLight !important;
}

.sd-links a,
.playlists a {
  color: #b3b3b3;
}
.active {
  background-color: #282828 !important;
  color: white !important;
}
/* HOME SEARCH LIBRARY */
.sd-links a {
  height: 2.5rem;
}
.sd-links span {
  margin-left: 0.8rem;
  font-size: 0.9rem;
}

.sd-links i {
  font-size: 1.3rem;
}
/* Arrrowws */
.artist-arr {
  position: absolute;
  left: 1rem;
  top: 0;
  right: 2rem;
}

.primary-links {
  margin: 0.5rem 0;
}

/* PLAYLISTS and HOME Hover*/
.sd-links a,
.playlists a,
.playlists a:hover,
.sd-links a:hover {
  padding-left: 0.8rem;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  align-items: center !important;
}

.sd-links a:hover,
.side-tracks a:hover,
.side-download:hover,
.playlists a:hover {
  color: white !important;
  transition: 0.7s;
  opacity: 1;
}

/* PLAYLISTS */
.playlists {
  padding-bottom: 1em;
  border-bottom: 1px solid #b3b3b34d;
}
.playlists a {
  margin-top: 0.8rem;
  justify-content: flex-start;
  align-items: baseline;
}
.playlists .img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlists i {
  position: relative;
  font-size: 1.4rem;
}
.playlists span {
  margin-left: 0.8rem;
  font-size: 0.9rem;
}

.fa-square-full::after {
  content: "+";
  position: absolute;
  color: black;
  left: 5px;
  top: -1px;
  font-size: 1.2rem;
}

.heart-ico {
  background: rgb(69, 10, 241);
  background: linear-gradient(
    142deg,
    rgba(69, 10, 241, 1) 0%,
    rgba(188, 227, 211, 1) 87%
  );
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-ico i {
  font-size: 0.8rem;
}

/* scrool track sidebar */
.side-bar-bottom {
  position: relative;
  height: 50%;
  background-color: #000;
  padding: 0 0 0 1.5rem;
}
.side-bar-bottom a {
  color: #b3b3b3;
  text-decoration: none;
}
.side-tracks {
  height: 85%;
  overflow-y: scroll;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem 0.5rem 0;
}

/* Download */
.side-download {
  font-size: 0.8rem;
}
.side-download p {
  padding-top: 0.3rem;
  margin: auto 0;
}
.side-download i {
  font-size: 1.4rem;
}

.side-tracks::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
}

.side-tracks::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track-piece {
  background-color: black;
}
.side-tracks::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #4d4d4d !important;
}

/* -----------------------------Top SECTION ARROWS LOGIN*/
/* 
.h-main {
    width: calc(100% - 15rem);
}

.main-arrows a i{
    position: relative;
    font-size: 1.5rem;
    color: black;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 50%;
    background-color: white;
}
.main-arrows a i::after {
    content: '';
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    left: -1px;
    top: -1px;
}

.main-arrows a:hover i {
    opacity: 1;
}
.arr-act i{
    opacity: 1 !important;
}




.log-but-par {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 5rem;
}
.login-buttn {
    position: relative;
    border: unset;
    background-color: black;
    color: #b3b3b3;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: center;
}
.login-buttn:hover,
.press-buttn:hover {
    color: white;
}

.login-buttn span {
    font-family: fontBold;
    color: white;
    padding-top: 0.6rem !important;
}
.press-buttn::after {
    margin-top: 10px;
}
.login-buttn img{
    position: relative;
    display: block;
    border-radius: 50%;
    left: 0;
    width: 30px;
}
.press-buttn {
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;

    background-color: black;
    color: #b3b3b3;
}

.dropdown-menu{
    left: -25% !important;
    background-color: black;
    top: 39px !important;
    transform: translate3d(2.6rem, 0px, 0px)!important;
}
.dropdown-menu a {
    color: #b3b3b3 ;
}

.dropdown-menu a:hover {
    background-color: unset;
    color: white;
}

 */
